body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

:root {
  --red: #b42600;
  --grey: #999999;
  --white: #fff;
}

.map {
  width: 100vw;
  height: 100vh;
}

.event_icon {
  font-size: 40px;
}

.box {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#magUnit {
  text-transform: capitalize;
}
