@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

:root {
  --red: #b42600;
  --grey: #e5e4e2;
  --dark-grey: #a9a9a9;
  --secondary-grey: #808080;
  --white: #fff;
  --green: #008000;
  --red: #ff0000;
  --orange: #ff8c00;
}

.map {
  width: 100vw;
  height: 100vh;
}

.event_icon {
  font-size: 40px;
}

/*Banner  */
.banner {
  position: absolute;
  top: 0px;
  width: 100vw;
  color: white;
  background-color: var(--red);
  text-align: center;
}

/* BoxInfo */
.box {
  background-color: var(--grey);
  position: absolute;
  bottom: 30px;
  left: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box_title {
  font-family: "Merriweather", serif;
  border-radius: 8px 8px 0 0;
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  border: 1px solid transparent;
}

.box_data {
  padding: 0px 20px 20px;
}

.box h3 {
  color: var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
}

.label {
  font-family: "Merriweather", serif;
}

.box_data span:not(.label) {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: var(--secondary-grey);
}

#magUnit {
  text-transform: capitalize;
}

.low-mag {
  color: var(--green) !important;
}

.medium-mag {
  color: var(--orange) !important;
}

.high-mag {
  color: var(--red) !important;
}

/* Media Queries */
@media (max-width: 600px) {
  .box {
    width: 95vw;
    padding: 0px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .box_title,
  #box_depth,
  .label,
  #magUnit {
    display: none;
  }

  .box_data {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .box_info {
    display: flex;
  }

  .box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-grey);
    border-bottom: transparent;
  }

  #box_mag {
    grid-column: 3 / 4;
  }

  #magnitude {
    font-size: 50px;
  }

  #box_time {
    grid-column: 2 / 3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    width: 130px;
  }

  #box_time span {
    color: var(--dark-grey);
    font-size: 15px;
    text-transform: capitalize;
  }
}
